# ROS 2 build artifacts
build/
log/
install/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
.claude/

# Dependencias micro-ROS con .git propio (se re-clonan en el setup)
TP1/MicroROS2/components/micro_ros_espidf_component/
TP1/TP1Agentev2/src/micro_ros_setup/
TP1/TP1Agentev2/src/uros/drive_base/
TP1/TP1Agentev2/src/uros/micro-ROS-Agent/
TP1/TP1Agentev2/src/uros/micro_ros_msgs/
TP2/MicroROS2/components/micro_ros_espidf_component/